<nav class="navbar navbar-expand-md navbar-light">
  <div class="collapse navbar-collapse">
    <div class="navbar-nav navbar-right ml-auto">
      <a *ngIf="!authService.isLoggedIn()" class="nav-item nav-link" [routerLink]="['/user/login']" routerLinkActive="active">Login</a>
      <a *ngIf="!authService.isLoggedIn()" class="nav-item navbar-text">or</a>
      <a *ngIf="!authService.isLoggedIn()" class="nav-item nav-link" [routerLink]="['/user/register']" routerLinkActive="active">Register</a>
      <a *ngIf="authService.isLoggedIn()" class="nav-item nav-link" [routerLink]="['/user', authService.getUserDetails()?.username]"
        routerLinkActive="active">{{authService.getUserDetails()?.username}}</a>
      <a *ngIf="authService.isLoggedIn()" style="cursor: pointer;" class="nav-item nav-link" (click)="authService.logout()"
        routerLinkActive="active">Logout</a>
    </div>
  </div>
</nav>
<div class="d-none d-md-block"><img class="logo" src="../../assets/images/logo.png">
  <hr>
</div>
<nav class="navbar navbar-expand-md navbar-light">
  <div class="d-flex">
    <a class="navbar-brand d-none d-md-block">The Pedal Database</a>
    <div class="d-md-none flex-shrink-1 mr-2">
      <img class="logo" src="../../assets/images/logo.png">
    </div>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainNavbar" id="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" data-toggle="collapse" data-target=".navar-collapse.show" id="mainNavbar">
    <hr class="d-md-none">
    <form class="form-inline d-md-none">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    </form>
    <div class="navbar-nav mr-auto" data-toggle="collapse" data-target=".navbar-collapse.show">
      <a class="nav-item nav-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['']" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" [routerLink]="['/pedals']" routerLinkActive="active">All Pedals</a>
    </div>
    <hr>
    <form class="form-inline d-none d-md-block">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    </form>
    <div class="navbar-nav d-md-none" data-toggle="collapse" data-target=".navbar-collapse.show">
      <a *ngIf="!authService.isLoggedIn()" class="nav-item nav-link" [routerLink]="['/user/login']" routerLinkActive="active">Login</a>
      <a *ngIf="!authService.isLoggedIn()" class="nav-item nav-link" [routerLink]="['/user/register']" routerLinkActive="active">Register</a>
      <a *ngIf="authService.isLoggedIn()" class="nav-item nav-link" [routerLink]="['/user/profile']" routerLinkActive="active">My
        Profile</a>
      <a *ngIf="authService.isLoggedIn()" style="cursor: pointer;" class="nav-item nav-link" (click)="authService.logout()"
        routerLinkActive="active">Logout</a>
    </div>
  </div>
</nav>